assets/*
assets_expand/*
models/results/history_*
**/*.avi
**/*.mp4
**/*.png
**/*.jpg
**/*.tif
**/*.svg
**/*.DS_Store
**/*.fig
**/*.mat
**/*.npy
**/*.npz
**/*.pyc
**/*.hdf5
**/*.h5
**/*.db
**/*.asv
**/*.roi
**/*.rtf
**/*.db
**/*.pickle
**/extended-berkeley-segmentation-benchmark-master-linux
!.gitignore
