assets/*
**/*.avi
**/*.mp4
**/*.png
**/*.jpg
**/*.tif
**/*.svg
**/*.DS_Store
**/*.fig
**/*.mat
**/*.npy
**/*.npz
**/*.pyc
**/*.hdf5
**/*.h5
**/*.db
**/*.asv
**/*.roi
**/*.rtf
**/*.db
**/*.pickle
**/extended-berkeley-segmentation-benchmark-master-linux
!assets/040119_PtK1_S01_01_phase_2_DMSO_nd_02/img_all/*
!.gitignore
