assets/*
assets_expand/*
models/results/history_*
evaluation/npy-matlab-master
evaluation/generated
**/.ipynb_checkpoints
**/*.avi
**/*.gif
**/*.mp4
**/*.png
**/*.jpg
**/*.tif
**/*.svg
**/*.DS_Store
**/*.fig
**/*.mat
**/*.npy
**/*.npz
**/*.pyc
**/*.hdf5
**/*.h5
**/*.db
**/*.asv
**/*.roi
**/*.rtf
**/*.db
**/*.pickle
**/checkpoint*
**/extended-berkeley-segmentation-benchmark-master-linux
!.gitignore
